@tailwind base;
@tailwind components;
@tailwind utilities;



:root 
body {
  margin: 0;
  display: flex;
  /* min-width: 100vw; */
  min-height: 100vh;
  background-color: rgb(31, 31, 31)
}
/* Hide scrollbar but keep scroll functionality */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;     /* Firefox */
}



